.footer {
  text-align: center;
  padding: 1%;
  margin: 2% 0;
  background-color: #f3e9ff;
  border: 2px solid grey;
  border-radius: 10px;
  color: #742fc2;
}

.footer a {
  text-decoration: none;
}